{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5 fontRoboto"> Register and join us! </h2>
            <div class="text-center mb-5 text-dark fontRoboto" style="color: #41729F!important;">Learn Graphic Design</div>
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        {% load static %}
                        <img src="{% static 'main/logogd1.svg' %}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                       
                        {{form.username}}
                    </div>
                    <div class="mb-3">
                        
                        {{form.email}}
                    </div>
                    <div class="mb-3">
                        
                        {{form.password1}}
                    </div>
                    <div class="mb-3">
                        
                        {{form.password2}}
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-color px-5 mb-5 w-100" name="Create User" value="Register">
                    </div>
                    <div id="del">
                        {{form.errors}}
                    </div>
                    
                    <div id="eMessage">
                        <p class="fontRoboto text-center" style="color: red;"></p>
                    </div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">Have an account? <a href="{% url 'loginPage' %}" class="text-dark fw-bold">Login here</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    window.onload = function(){
        var errors = document.getElementsByClassName("errorlist");

        
            

        if(typeof errors === 'undefined'){

        }
        else{
            var del = document.getElementById("del");
            for(var i=0; i<errors.length; i++){
                var errorMessage = errors[i].firstChild.innerHTML;

                var errorMessagePlace = document.getElementById("eMessage");
                errorMessagePlace.firstElementChild.innerHTML = errorMessage;

            

        
        }
        del.remove();
            
        }
        
        var fields = document.getElementsByTagName("input");
        fields[1].placeholder = 'Username';
        fields[2].placeholder = 'Email';
        fields[3].placeholder = 'Password';
        fields[4].placeholder = 'Confirm Password';

        var i=0;
        for(var field in fields){
            if(i===5) break;
            fields[field].className += ' form-control';
            i++;
        }
    }
    
</script>
{% endblock %}