{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid py-5" style="background-color: #1a1e21; height: 350px;">
    <div class="container">
        <h1 class="display-4 text-white fontRoboto">
            <a href="/{{studentTask.task.course}}" style="text-decoration: none; color: inherit;">{{studentTask.task.course}}</a> > <span class="font-weight-bold display-4 text-white fontRoboto fw-bold">{{studentTask.task.name}} - Task</span> </h1>
        <p class="lead text-white fontRoboto">Task type: {{studentTask.task.type}}</p>
        <p class="lead text-white fontRoboto pt-1" style="font-size: 16px;">{{studentTask.task.text}} </p>

        <div class="pt-3">
            <p class=" text-white">Posted by professor</p>
        <p class="text-white">Deadline: {{studentTask.task.deadline}}</p>
        </div>
    </div>
</div>
{% if solution.exists %}
<p>neshto</p>
{% endif %}
<div class="container flex mt-5 pt-5 ps-5 border rounded">
    <form method="POST" action="{% url 'taskFinished' studentTask.task.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<label class="h4 fontRoboto text-dark pb-4 fw-bold" for="customFile">Solution: </label>
        <input type="file" class="form-control w-50" id="customFile" name="customFile"/>-->
        {{form.file}}
        
        <input type="Submit" value="Upload" class="btn btn-secondary my-5 fontRoboto" style="background-color: #41729F !important;">
        <!--<input value="Upload" type="submit" class="btn btn-secondary my-5 fontRoboto" style="background-color: #41729F !important;" id="submitButton" name="submitButton" onclick="taskSubmited(this,{{studentTask.task.id}})">
        <input type="submit" class="btn btn-primary my-5 fontRoboto" style="background-color: white !important; color:#41729F" hidden id="editButton" onclick="taskEdit(this)">-->
    </form>
</div>
{% endblock %}