{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

            {% load static %}
            <img class="d-block w-100" src="{% static 'main/psbaner.jpg' %}" alt="First slide">

        </div>
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">

            {% load static %}
            <img class="d-block w-100" src="{% static 'main/aibaner.jpg' %}" alt="Second slide">

        </div>
        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" data-interval="100">
            {% load static %}
            <img class="d-block w-100" src="{% static 'main/idbaner.jpg' %}" alt="Third slide">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</div>
<section class="container-xxl flex pt-5 mt-5">

    <table class="table fontRoboto">
        <thead class="table-dark">
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Task Type</th>
            <th scope="col">Task Name</th>
            <th scope="col">Course</th>
            <th scope="col">Deadline</th>
            <th scope="col">Status</th>
            <th scope="col"  style="text-align: center;">Quick Access</th>
        </tr>
        </thead>
        <tbody>
            {% for taskStudent in tasks %}
        <tr class="text-dark">
            <th scope="row">{{taskStudent.task.id}}</th>
            <td><a href="tasks/{{taskStudent.task.id}}" style="text-decoration: none; color: inherit;">{{taskStudent.task.type}}<a></td>
            <td><a href="tasks/{{taskStudent.task.id}}" style="text-decoration: none; color: inherit;">{{taskStudent.task.name}}<a></td>
            <td><a href="tasks/{{taskStudent.task.id}}" style="text-decoration: none; color: inherit;">{{taskStudent.task.course}}<a></td>
            <td><a href="tasks/{{taskStudent.task.id}}" style="text-decoration: none; color: inherit;">{{taskStudent.task.course}}<a></td>
            <td><a href="tasks/{{taskStudent.task.id}}" style="text-decoration: none; color: inherit;">{{taskStudent.status}}<a></td>
            <td style="text-align: center;"><input class="form-check-input" type="checkbox" value="{{taskStudent.task.id}}" id="flexCheckDefault"  {% if taskStudent.quickA %} checked {% endif %} onclick="checkBox(this)"></td
        </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}